$enable-flex: true;

@import '../../bower_components/bootstrap/scss/bootstrap.scss';
@import url(https://fonts.googleapis.com/css?family=Calligraffitti|Open+Sans);

@import 'base.scss';
@import 'divider.scss';

.jumbotron {
    background-color: #E0E0E0;
}

.dl-app {
    @extend .container;

    header {
        text-align: center;
        padding-top: 18px;
        padding-bottom: 18px;

        h1 {
            margin: 0 0 -8px 0;
            font-family: 'Calligraffitti', cursive;
            font-size: 72px;
            color: #FF931E;
        }
        h2 {
            margin: 0;
            font-size: 24px;
        }
    }
}
