@import '~foundation-sites/scss/foundation';
@include foundation-everything($flex: true);

body {
    font-family: Open Sans, sans-serif;
    color: #333;
}

noscript {
    @include flex-grid-row();
    @include flex-grid-column();

    h1 {
        @include callout(#ec5840/*$alert-color*/);
        width: 100%;
        color: red;
        text-align: center;
    }
}

.dl-app {
    .loading-placeholder {
        @include flex-grid-row();
        @include flex-grid-column();
    }

    header {
        @include flex-grid-row();
        @include flex-grid-column();

        flex-direction: column;
        align-items: center;
    }
}
